@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css); 

img { 
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Chrome                         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}


html {
	height: 100%;
}
body {
	font-family: 'Open Sans Hebrew', 'Droid Sans Hebrew', 'Alef', sans-serif; 
	font-family: 'Alef','Droid Sans Hebrew','Open Sans Hebrew',  'Alef', sans-serif; 
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;

	font-size: 22px;

	text-align: right;
	direction: rtl;

	text-rendering: optimizeLegibility;
	font-feature-settings: 'kern' 1;;

	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga' 1;;

	position: relative; z-index: -10000; -webkit-font-smoothing: subpixel-antialiased; /* corrects safari rendering */

	line-height: 1.4;
}

div#content { /* wraps both main and subnavigation */
	padding: 3rem 0 18rem 0;
	margin-left: 12rem;
	/*margin-right: 2.5rem;*/
	margin-right: 12rem;
}

@media all and (max-width:520px) {
	div#content {
		margin: 1.5rem;
		padding: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bobbin";
	font-weight: normal;
}

h1 {
	margin-top: 3em;
}

table {
	border-collapse: separate;
	border-spacing: 0px;
}


td, th {
	vertical-align: top;
}

.floatright {
	float: right;
	clear: both;
	vertical-align: middle;
}

.caption {
	font-size: smaller;
}

.simpletable td {
	padding-left: 1em;
}

.simpletable td:last-child {
	padding-left: 0px;
}

marginnote p {
	font-family: "concourse-t3";
	font-size: 0.85rem;
	line-height: 1.4;
	color: #667;
	letter-spacing: 0.015em;
	hyphens: none;
}

ptitle {
	display: block;
	float: right;
	position: absolute;
	margin-right: 0;
	right: 2.5rem;
	width: calc(2.5rem * 3);
	text-align: right;
	list-style-type: none;
	clear:both; margin-bottom: 1rem; font-feature-settings: 'onum' 0;;
	line-height: 1;
}
ptitle:first-letter {
	line-height: 1.4;
}

marginnote {
	display: block;
	float: left;
	position: relative;
	margin-left: calc(-2.5rem * 3);
	width: calc(2.5rem * 3);
	text-align: right;
	clear: both;
	margin-bottom: 1rem;
	line-height: 1;
	vertical-align: baseline;
	font-size: smaller;
}
marginnote:first-letter {
	line-height: 1.4;
}


@media all and (min-width:1200px) {
	marginnote {
		width: calc(2.5rem * 4);
		margin-left: calc(-2.5rem * 5);
	}
}

@media all and (max-width:520px) {
	marginnote { float: inherit;
		position: inherit;
		width: 100%;
	text-align: left;}

	marginnote {
		padding: 0.3rem 0.5rem;
		width: 90%;
	}

	marginnote > p:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-bottom: 1em;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    /*font-size: 1em;*/
	font-family: monospace;
    /*line-height: 10px;*/
	/*line-height: normal;*/
	min-width: 1em;
    color: #C2C3C7;
    vertical-align: middle;
	text-align: center;
    background-color: #262320;
    border: solid 1px #c6cbd1;
    /*border: solid 1px #d1d5da;*/
	border-bottom-color: rgb(198, 203, 209);
    border-bottom-color: #959da5;
    /*border-bottom-color: #c6cbd1;*/
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    /*box-shadow: inset 0 -1px 0 #c6cbd1;*/
}


.logo {
	background-size: 100%;
	display: inline-block;
	font-size: 0;
	width: 100%;

	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Chrome                         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.logo img {
	-webkit-transition: all .5s;
	width: 100%;
}
.logo img:hover {
	opacity: 0;
}


.sublogo {
	background-size: 100%;
	display: inline-block;
	font-size: 0;
	width: 100%;

	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Chrome                         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.sublogo img {
	-webkit-transition: all .5s;
	width: 100%;
}
.sublogo img:hover {
	opacity: 0;
}

.icon {
	height: 1ex;
}

.f {display: none;}
.m {display: none;}

.toc {
	padding: 1em;
}

.toc ul {
	margin: 0;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.toctitle {
	font-weight: bold;
}

code {
	direction: ltr;
}

.code, .codehilite, pre {
	direction: ltr;
	text-align: left;
}

.codehilitetable {
	margin-left: auto;
	margin-right: auto;
}


