@import url(PICO-8-cart.css);

body {
	background: #000000;
	color: #DEEED6;
}

@font-face {
	font-family: 'PICO-8';
	src: url('/fonts/PICO-8.ttf');
}

a {
	color: #83769C;
	text-decoration: none;
}

code {
	font-family: 'PICO-8';
	font-size: 75%;
}

ptitle {
	color: #5F574F;
}

ptitle:hover {
	color: #DEEED6;
}

.logo {
	background: url("/media/PICO-8/logo-on.png");
}

.sublogo {
	background: url("/media/PICO-8/sublogo-on.png");
}

.bodyscreenshot {
	width: 384px;
	height: 384px;
	padding: 3px;
	border: 1px solid #111;
}

.custombodyscreenshot {
	padding: 3px;
	border: 1px solid #111;
}

.inlinescreenshot {
	padding: 3px;
	border: 1px solid #111;
}

.caption {
	color: #5F574F;
}

.inlineimg {
	width: 1em;
}

.toc {
	/* background-color: #1D2B53; */
	background-color: #090D1A;
}

.linenos pre {
	font-family: 'PICO-8';
	color: #4E4A4F;
	font-size: 75%;
}

.codehilite pre {
	font-family: 'PICO-8';
	direction: ltr;
	align: left;
	width: 40ch;
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.codehilitetable {
	direction: ltr;
}

.codehilite .n  { color: #C2C3C7 } /*  */
.codehilite .p  { color: #FFF1E8 } /*  */

.codehilite .hll { background-color: #ffffcc }
.codehilite     {
	background: #5F574F;
	font-family: 'PICO-8';
	width: 42ch;
	display: block;
    margin-left: auto;
	font-size: 75%;
    margin-right: auto;
	padding-top: 1px;
	padding-bottom: 1px;
}
.codehilite .c  { color: #408080 } /* Comment */
.codehilite .err {  } /* Error */
.codehilite .k  { color: #008000 } /* Keyword */
.codehilite .o  { color: #FFF1E8 } /* Operator */
.codehilite .ch { color: #408080 } /* Comment.Hashbang */
.codehilite .cm { color: #408080 } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080 } /* Comment.PreprocFile */
.codehilite .c1 { color: #83769C} /* Comment.Single */
.codehilite .cs { color: #408080 } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge {  } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080 } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080 } /* Generic.Prompt */
.codehilite .gs {  } /* Generic.Strong */
.codehilite .gu { color: #800080 } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000 } /* Keyword.Constant */
.codehilite .kd { color: #008000 } /* Keyword.Declaration */
.codehilite .kn { color: #008000 } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #FF77A8 } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m  { color: #666666 } /* Literal.Number */
.codehilite .s  { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #00E436 } /* Name.Builtin */
.codehilite .nc { color: #0000FF } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999 } /* Name.Entity */
.codehilite .ne { color: #D2413A } /* Name.Exception */
.codehilite .nf { color: #C2C3C7 } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF } /* Name.Namespace */
.codehilite .nt { color: #008000 } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF } /* Operator.Word */
.codehilite .w  { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #29ADFF } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121 } /* Literal.String.Doc */
.codehilite .s2 { color: #29ADFF } /* Literal.String.Double */
.codehilite .se { color: #BB6622 } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688 } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
