{% extends "base.html" %}
{% block title %}{{ page.title }} ⁘ {{ SITENAME }}{%endblock%}

{% block content %}
<section id="content" class="panel">
  <header class="panel-header">
      <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark"
         title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a>
  </header>
  <div>
    {{ page.content }}
  </div>
</section>


{% endblock %}
